@import '../../../../../theme/styles.scss';

::ng-deep {
	.card-viewer card-preview {
		margin-right: 64px;
	}

	.card-viewer .ngn-select-wrapper {
		margin-bottom: 16px;
	}
}

.card-viewer {
	display: flex;
	justify-content: center;

	.card-name {
		max-width: 300px;
	}

	.card-versions {
		margin-right: 64px;

		.card-version {
			img {
				width: 100%;
				height: 550px;
			}
		}
	}

	.card-breakdown-wrapper {
		padding-top: 32px;
		padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
		background-color: map-get($colors, background-light);
		border-radius: 5px;
		position: relative;
		margin-bottom: 24px;
		max-width: 450px;
		min-width: 450px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		hr {
			background: map-get($colors, contrast);
			margin-top: 4px;
			margin-bottom: 25px;
			margin-left: 0;
			opacity: .2;
		}
	}

	.detail-label {
		display: block;
		font-size: 13px;
    opacity: .6;
		color: map-get($colors, contrast);
	}

	.type-icon {
		width: 35px;
    transform: translate(-10px, -2px);
    margin-right: -15px;
		opacity: .6;
	}

	.common {
		color: #6c6758;
	}

	.uncommon {
		color: #e47529;
	}

	.rare {
		color: #d8f2da;
	}

	.ultrarare {
		color: #fecb3a;
	}

	.card-slots-wrapper {
		display: flex;

		.card-slot {
			background-color: #626262;
			border-radius: 5px;
			display: inline-block;
			padding-right: 8px;

			&:not(:last-child) {
				margin-right: 8px;
			}

			&.direction-stat, &.aoe-stat {
				padding-left: 8px;
			}

			.slot-icon {
				width: 32px;
			}

			.infinite-range-icon {
				width: 12px;
			}

			.slot-text {
				color: map-get($colors, contrast);
				font-weight: bold;
				font-size: 16px;
				transform: translate(-2px, 1px);
				display: inline-block;
			}
		}
	}

	.card-ability-text {
		@include font-body;
	}

	.card-stats-wrapper {
		display: flex;
		margin-top: -12px;

		.card-stat {
			display: inline-block;
			padding-right: 8px;

			&:not(:last-child) {
				margin-right: 8px;
			}

			.stat-icon {
				width: 50px;
				transform: translateX(-10px);
			}

			.stat-text {
				color: map-get($colors, contrast);
				font-weight: bold;
				font-size: 18px;
				transform: translate(-10px, 3px);
				display: inline-block;
			}
		}
	}

	.card-details {
		flex: 1;
	}

	.buttons-section {
		margin-top: 24px;

		button {
			width: 100%;
		}
	}

	.button-group {
		display: flex;

		button:not(:last-child) {
			margin-right: 8px;
		}
	}
}
