@import "../../../../../theme/styles.scss";

.content-wrapper {
	position: relative;
	margin-top: 0px;
	overflow: hidden;
}

.bearing-bg {
	position: absolute;
	width: 100%;
	display: none;
}

.header-wrapper {
	color: map-get($colors, dark);

	p {
		font-family: "Poppins", sans-serif;
		border-bottom: 1px solid map-get($colors, medium-3);
	}
}

.login-wrapper {
	width: 100%;
	height: 100vh;
	padding: 32px;
	background-size: cover;
}

.login-content {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 8px;
	padding: 16px;

	.forgot-password-link:hover {
		text-decoration: underline;
	}

	.logo-wrapper {
		text-align: center;
	}

	.logo {
		width: 200px;
	}

	.login-info-wrapper {
		button {
			width: 100%;
			font-size: map-get($font-sizes, md);
		}
	}
}

.password-hide-icon {
	position: absolute;
	top: 11px;
	right: map-get($pixelSpacings, md);
}

.password-wrapper {
	input {
		padding-right: 40px;
	}
}

@media screen and (max-width: map-get($breakpoints, sm)) {
	.login-wrapper {
		padding: 0px;
	}

	.content-wrapper {
		padding: 0px;
	}
}

@media screen and (max-width: map-get($breakpoints, md)) {
	.bearing-bg {
		height: 100vh;
	}
}

@media screen and (max-width: map-get($breakpoints, lg)) {
	form {
		.row {
			margin-bottom: 0px;
		}
	}

	.login-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		.login-content {
			position: static;
			transform: none;
		}
	}
}

@media screen and (min-width: map-get($breakpoints, sm)) {
	.bearing-bg {
		display: block;
		top: 0px;
		left: -430px;
	}
}

@media screen and (min-width: map-get($breakpoints, lg)) {
	.bearing-bg {
		top: -59px;
		left: -635px;
	}
}

@media screen and (min-width: map-get($breakpoints, xxl)) {
	.bearing-bg {
		top: -495px;
		left: -975px;
	}
}
