<div class="content-wrapper no-sidebar d-flex flex-column">
	<div class="row flex-fill">
		<div class="col-xl-12">
			<div class="page-wrapper">
				<div class="page-content">
					<div class="logo-wrapper">
						<img class="logo mb-xl" src="/assets/images/logos/logo-text-dualtone.png">
					</div>
					<div class="page-body">
						<div class="page-info-wrapper text-center p-xl">
							<h2 class="fw-bold mb-md">Page Not Found<i class="fas fa-times-circle fg-danger ml-sm"></i></h2>
							<p class="fs-lg">Oh no! The page you're trying to reach can't be found!</p>
							<hr>
							<div class="mt-xl text-center">
								<a [routerLink]="this.loginRoute">Back to login</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



