<div class="pageheader">
	<div class="title">
		<div class="title-main">
			<div [innerHTML]="titleContent"></div>
			<span class="game-version">v{{ globalVars.gameVersion }}</span>
		</div>
		<div [innerHTML]="subtitleContent"></div>
	</div>
	<div class="ph-nav-right">
		<div class="full">
			<div class="link-wrapper mr-sm">
				<a class="pointer d-flex flex-align-items-center link" routerLink="{{ routes.Cards.CardSearch }}" [queryParams]="globalVars.cardSearchQPs" routerLinkActive="active">
					<i class="far fa-books mr-sm link-icon"></i>
					<p class="f-nav m-0 link-text">Card Library</p>
				</a>
			</div>
			<div class="link-wrapper mr-sm">
				<a class="pointer d-flex flex-align-items-center link" routerLink="{{ routes.Cards.CardSearchPending }}" [queryParams]="globalVars.cardSearchQPs" routerLinkActive="active">
					<i class="far fa-books mr-sm link-icon"></i>
					<p class="f-nav m-0 link-text">Pending Cards</p>
				</a>
			</div>
			<div class="link-wrapper mr-sm">
				<a class="pointer d-flex flex-align-items-center link" routerLink="{{ routes.Decks.DeckSearch }}" [queryParams]="globalVars.deckSearchQPs" routerLinkActive="active">
					<i class="far fa-clone mr-sm link-icon"></i>
					<p class="f-nav m-0 link-text">Deck Library</p>
				</a>
			</div>
	  </div>

		<!--Mobile Menu-->
		<div class="mobile-nav">
			<div ngbDropdown container="body" placement="bottom-right">
				<div class="menu-circle pointer" id="mobileMenuToggle" ngbDropdownToggle>
					<i class="far fa-bars"></i>
				</div>
				<div class="mobile-user-dropdown" ngbDropdownMenu aria-labelledby="mobileMenuToggle">
					<a ngbDropdownItem routerLink="{{ routes.Cards.CardSearch }}" [queryParams]="globalVars.cardSearchQPs" routerLinkActive="active" class="pointer link-text">Card Library</a>
				</div>
			</div>
	  </div>
	</div>
</div>


