<div class="content-wrapper no-sidebar d-flex flex-column">
	<div class="row flex-fill">
		<div class="col-xl-12">
			<div class="login-wrapper">
				<div class="login-content">
					<div class="logo-wrapper">
						<img class="logo mb-xl" src="/assets/images/logos/logo-text-dualtone.png">
					</div>
					<div class="login-body">
						<div class="header-wrapper mb-lg">
							<p *ngIf="forgotPassword" class="fw-bold pb-xs">Forgot Password</p>
						</div>
						<div>
							<p class="forgot-password-instructions">Please enter the email for your account.<br/>After submitting, you should receive an email with instructions to reset your password.</p>
							<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
								<label class="text-left mt-xl fw-bold login-form-label">Email</label>
								<input class="mt-sm" type="email" formControlName="email" [ngnValidate]="submitted"/>
								<button class="mt-xl nuc-btn fg-white w-100% mb-xl fs-md" type="submit">SUBMIT</button>
							</form>
						</div>
						<div class="text-center">
							<p (click)="backToLogin()" class="forgot-password-link fg-medium-1 pointer">Back to login</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



