<div style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;" class="bg-background"></div>
<div class="main-content">
  <div class="content-wrapper">
		<nuc-pageheader
			titleContent="<h1><span class='fg-primary'>Mech</span> Card Game</h1>"
			subtitleContent="<h3 class='fw-normal fg-contrast-muted'>{{ editMode ? 'Edit' : 'Create' }} Card</h3>">
		</nuc-pageheader>
		<div class="p-relative mb-xl pt-xxl">
			<div class="card-create-wrapper p-lg mt-xl">
				<div class="mr-xxl">
					<ngn-select
						*ngIf="editMode"
						[options]="versionOptions"
						[allowMultiple]="false"
						[useModelValues]="true"
						[(ngModel)]="cardVersion"
						(ngModelChange)="cardVersionChanged($event)">
				</ngn-select>
					<card-preview [cardVersion]="cardVersionPreview"></card-preview>
				</div>

				<form class="fg card-form" [formGroup]="formGroup">

					<div class="form-row">
						<div class="form-field flex-1">
							<p class="field-label">NAME</p>
							<input type="text" formControlName="name" [ngnValidate]="submitted" [ngnValidateLock]="!submitted">
						</div>
					</div>

					<div class="form-row">
						<div class="form-field flex-1">
							<p class="field-label">CARD ART URL</p>
							<input type="text" formControlName="imageUrl">
						</div>
						<div class="form-field flex-1">
							<p class="field-label">RARITY</p>
							<ngn-select
								[options]="cardRarityOptions"
								[allowMultiple]="false"
								[useModelValues]="true"
								[defaultControlText]="''"
								formControlName="rarity"
								[ngnValidate]="submitted" [ngnValidateLock]="!submitted">
							</ngn-select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-field flex-1">
							<p class="field-label">TYPE</p>
							<ngn-select
								[options]="cardTypeOptions"
								[allowMultiple]="false"
								[useModelValues]="true"
								[defaultControlText]="''"
								formControlName="type"
								[ngnValidate]="submitted" [ngnValidateLock]="!submitted">
							</ngn-select>
						</div>
						<div class="form-field flex-1">
							<p class="field-label">SUBTYPE</p>
							<input type="text" formControlName="subtype">
						</div>
						<div class="form-field flex-1">
							<p class="field-label">MANUFACTURER</p>
							<ngn-select
								[options]="manufacturerOptions"
								[allowMultiple]="false"
								[useModelValues]="true"
								[defaultControlText]="''"
								[allowSingleDeselection]="true"
								formControlName="manufacturer"
								[ngnValidate]="submitted" [ngnValidateLock]="!submitted">
							</ngn-select>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value == 'Core'">
						<div class="form-field flex-1">
							<p class="field-label">SLOTS</p>
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/leg.png" alt="Leg" title="Leg Slots">
									<input type="number" class="slot-input" formControlName="legSlots">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/arm.png" alt="Arm"  title="Arm Slots">
									<input type="number" class="slot-input" formControlName="armSlots">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/head.png" alt="Head"  title="Head Slots">
									<input type="number" class="slot-input" formControlName="headSlots">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png" alt="Hardpoint"  title="Hardpoint Slots">
									<input type="number" class="slot-input" formControlName="hardpointSlots">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/mod.png" alt="Mod"  title="Mod Slots">
									<input type="number" class="slot-input" formControlName="modSlots">
								</div>
							</div>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value && formGroup.controls.type.value != 'Core'">
						<div class="form-field flex-1">
							<p class="field-label">SLOTS</p>
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png" alt="Hardpoint"  title="Hardpoint Slots">
									<input type="number" class="slot-input" formControlName="hardpointSlots">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/mod.png" alt="Mod"  title="Mod Slots">
									<input type="number" class="slot-input" formControlName="modSlots">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-field flex-1">
							<!-- <i class="fas fa-question-circle ml-sm" [ngbTooltip]="abilityTextTooltip" placement="bottom"></i> -->
							<p class="field-label">ABILITY TEXT</p>
							<textarea type="text" formControlName="abilityText"></textarea>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value == 'Hardpoint' || formGroup.controls.type.value == 'Mod'">
						<div class="form-field flex-1">
							<p class="field-label">ABILITY STATS</p>
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/cooldown.png" alt="Cooldown" title="Cooldown">
									<input type="number" class="slot-input" formControlName="cooldown">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/min_range.png" alt="Min Range" title="Minimum Range">
									<input type="number" class="slot-input" formControlName="minRange">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/max_range.png" alt="Max Range" title="Maximum Range">
									<input type="number" class="slot-input" formControlName="maxRange">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
							</div>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value == 'Hardpoint' || formGroup.controls.type.value == 'Mod'">
						<div class="form-field flex-1">
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/direction_lateral.png" alt="Direction" title="Direction">
									<ngn-select
										[options]="cardDirectionOptions"
										[allowMultiple]="false"
										[useModelValues]="true"
										[defaultControlText]="''"
										[allowSingleDeselection]="true"
										formControlName="direction"
										class="slot-input">
									</ngn-select>
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/aoe_radial.png" alt="Area of Effect" title="Area of Effect">
									<ngn-select
										[options]="cardAreaOfEffectOptions"
										[allowMultiple]="false"
										[useModelValues]="true"
										[defaultControlText]="''"
										[allowSingleDeselection]="true"
										formControlName="areaOfEffect"
										class="slot-input">
									</ngn-select>
								</div>
							</div>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value == 'Core'">
						<div class="form-field flex-1">
							<p class="field-label">CORE STATS</p>
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/corehealth.png" alt="Core Health"  title="Core Health">
									<input type="number" class="slot-input" formControlName="coreHealth">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/armor.png" alt="Armor" title="Armor">
									<input type="number" class="slot-input" formControlName="armor">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/agility.png" alt="Agility" title="Agility">
									<input type="number" class="slot-input" formControlName="agility">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/energy.png" alt="Energy"  title="Energy">
									<input type="number" class="slot-input" formControlName="energy">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
							</div>
						</div>
					</div>

					<div class="form-row" *ngIf="formGroup.controls.type.value == 'Leg' || formGroup.controls.type.value == 'Arm' || formGroup.controls.type.value == 'Head' || formGroup.controls.type.value == 'Hardpoint' || formGroup.controls.type.value == 'Mod'">
						<div class="form-field flex-1">
							<p class="field-label">PART STATS</p>
							<div class="slot-fields-wrapper">
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/armor.png" alt="Armor" title="Armor">
									<input type="number" class="slot-input" formControlName="armor">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/agility.png" alt="Agility" title="Agility">
									<input type="number" class="slot-input" formControlName="agility">
								</div>
								<div class="slot-field">
									<img class="slot-icon" src="assets/images/icons/energy.png" alt="Energy"  title="Energy">
									<input type="number" class="slot-input" formControlName="energy">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
								<div class="slot-field dummy-field">
									<img class="slot-icon" src="assets/images/icons/hardpoint.png">
									<input type="number" class="slot-input">
								</div>
							</div>
						</div>
					</div>

					<div class="form-row" *ngIf="editMode">
						<div class="form-field d-flex">
							<label class="toggle">
								<input type="checkbox" formControlName="saveAsNewVersion">
								<span class="slider round"></span>
							</label>
							<label class="toggle-text ml-md">Save this edit as a new card version?</label>
						</div>
					</div>

					<div class="button-group mt-xl" *ngIf="editMode">
						<button class="secondary-btn" (click)="backToView()"><i class="fas fa-arrow-left mr-sm"></i>Back to View</button>
						<button class="secondary-btn delete-btn" (click)="deleteCard()"><i class="fas fa-trash mr-sm"></i>Delete Card</button>
						<button class="secondary-btn delete-btn" *ngIf="versionOptions.length > 1 && cardVersion?.version == highestVersion" (click)="deleteCardVersion()"><i class="fas fa-trash mr-sm"></i>Delete Card Version</button>
					</div>

					<div class="button-group mt-md">
						<button class="secondary-btn" (click)="downloadImage()"><i class="fas fa-download mr-sm"></i>Download</button>
						<button *ngIf="!editMode" (click)="saveCard(true)"><i class="fas fa-save mr-sm"></i>Save and Create Another</button>
						<button (click)="saveCard()"><i class="fas fa-save mr-sm"></i>Save</button>
					</div>
				</form>
		</div>
	</div>
</div>
<ng-template #abilityTextTooltip>
	<div class="card-ability-text">
		<p>Shoot: <span [innerHTML]="globalVars.parseAbilityText('Shoot ')"></span></p>
	</div>
</ng-template>
