<div class="content-wrapper no-sidebar d-flex flex-column">
	<div class="row flex-fill">
		<div class="col-xl-12">
			<div class="register-wrapper">
				<div class="register-content">
					<div class="logo-wrapper">
						<img class="logo mb-xl" src="/assets/images/logos/logo-text-dualtone.png">
					</div>
					<div class="register-body">
						<div class="header-wrapper mb-xl">
							<p class="fw-bold header mb-md">Account Setup</p>
							<p class="mb-0">Enter and confirm a password for your account. Upon submission, you will be
								directed to
								the sign in page. Review password policy:<i [ngbTooltip]="passwordTooltip" placement="bottom"
									tooltipClass="tooltip-styles" class="fas fa-question-circle ml-xs help-cursor"></i>
							</p>
							<ng-template #passwordTooltip>
								<p>Passwords must have:</p>
								<ul>
									<li>At least 8 characters.</li>
									<li>At least 1 capital letter.</li>
									<li>At least 1 number.</li>
									<li>At least 1 special character.</li>
								</ul>
							</ng-template>
						</div>
						<div class="register-info-wrapper">
							<form [formGroup]="createPasswordForm" (ngSubmit)="createPass()">

								<label class="text-left mt-lg fw-bold login-form-label fs-md">New Password</label>
								<div class="password-icon-wrapper">
									<input class="mt-sm" [type]="fieldPasswordType ? 'password' : 'text'" formControlName="newPass"
										[ngnValidate]="submitted"
										pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
										[ngnValidateMessages]="{ 'pattern':'Passwords must be at least 8 characters, have at least one alphanumeric character, one digit (0-9), and one uppercase (A-Z)' }" />
									<i (click)="passwordHide()" class="fa pointer"
										[ngClass]="{'fa-eye' : fieldPasswordType,'fa-eye-slash' : !fieldPasswordType}"></i>
								</div>
								<label class="text-left mt-xl fw-bold login-form-label fs-md">Confirm New
									Password</label>
								<div class="password-icon-wrapper">
									<input class=" mt-sm" [type]="fieldPasswordConfirmType ? 'password' : 'text'"
										formControlName="confirmNewPass" [ngnValidate]="submitted"
										pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
										[ngnValidateMessages]="{ 'equals':'This field must match the value of the New Password field' }"
										[ngnValidateMessages]="{ 'pattern':'Passwords must be at least 8 characters, at least one alphanumeric character, one digit (0-9), and one uppercase (A-Z)' }" />
									<i (click)="passwordConfirmHide()" class="fa pointer"
										[ngClass]="{'fa-eye' : fieldPasswordConfirmType,'fa-eye-slash' : !fieldPasswordConfirmType}"></i>
								</div>
								<button class="mt-xl nuc-btn fg-white w-100% mb-xl" type="submit">COMPLETE
									REGISTRATION</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
